<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .box {
        padding: 1rem;
        border: 1px solid black;
      }
    </style>
    <title>All</title>
  </head>
  <body>
    <% if(users.length === 0) { %>
    <h1>Pesanan kosong!</h1>
    <% } %> <% for(let user of users) { %>
    <div class="box">
      <h2><%= user.name %></h2>
      <p><%= user._id %></p>
      <p><%= user.email %></p>
      <p><%= user.phone %></p>
      <div class="actions">
        <form method="post" action="/all/<%= user._id %>">
          <button type="submit">Hapus</button>
        </form>
      </div>
    </div>
    <% } %>
    <a href="https://bang-ridho-strawberry.up.railway.app/"
      >Kembali ke Homepage</a
    >
  </body>
</html>
